* {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


#menu {
    height: 70px;
    background-color: lightskyblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    height: 65px;
}

.header-menu {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.custom-button {
    height: 35px;
    padding: 0 15px;
    background-color: rgb(0, 155, 0);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    cursor: pointer;
}

.custom-button:hover {
    opacity: 0.8;
}

.container-left {
    width: 60%;
}

.container-right {
    width: 40%;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
}

.content-menu {
    background-color: #f3f3f3f2;
}

.header-content {
    display: flex;
    justify-content: center;
    padding: 20px 10px;
    border-bottom: 2px solid #993300;
}

.content-list ul li:hover {
    color: #a85f3b;
    cursor: pointer;
}

h3 {
    color: #a85f3b !important;
    margin-top: 30px;
}

table {
    margin: 20px 0px;
}

table th, table td {
    border: 1px solid #a85f3b;
    padding: 10px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 30px;
  border: 1px solid #888;
  width: 25%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

form input{
    width: 100%;
}

form input {
    border-radius: 10px;
    border: 1px solid;
    padding-left: 10px;
    height: 30px;
}

form p {
    font-weight: bold;
    font-size: large;
}

input[type="submit"] {
    background-color: white;
    border-radius: 10px;
    border: 1px solid;
    width: 100px;
    height: 50px;
    margin: 0px auto;
}

input[type="submit"]:hover {
    cursor: pointer;
    background-color: #c0c0c0;
    transition: 0.25s linear;
}

form div {
    margin: 20px;
}

#footer {
    background-color: black; height: 300px; display: flex; align-items: center; justify-content: center;
}

#footer p, #footer i {
    color: white;
    margin: 10px;
}

#footer div {
    margin: 0px 100px;
}

#footer div p:first-of-type {
    font-weight: bold;
    font-size: x-large;
}