* {
    font-family: Arial, Helvetica, sans-serif;
}

#menu {
    height: 70px;
    background-color: lightskyblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    height: 65px;
}

.header-menu {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.custom-button {
    height: 35px;
    padding: 0 15px;
    background-color: rgb(0, 155, 0);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
